<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twig Demo - {% block title %}{% endblock %}</title>
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ assets("css/style.css") }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header><h1>Twig Demo</h1></header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('filters') }}">Filters</a></li>
                <li><a href="{{ path('loops') }}">Loops</a></li>
                <li><a href="{{ path('model') }}">Model</a></li>
                <li><a href="{{ path('heritage') }}">Héritage</a></li>
                <li><a href="{{ path('index', 'product') }}">Products</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('filters') }}">Filters</a></li>
        <li><a href="{{ path('loops') }}">Loops</a></li>
        <li><a href="{{ path('model') }}">Model</a></li>
        <li><a href="{{ path('heritage') }}">Héritage</a></li>
        <li><a href="{{ path('index', 'product') }}">Products</a></li>
    </ul>
    {# on définit des blocks dans le layout de base #}
    {# ces blocks peuvent être surchargé dans les layouts enfants #}
    {# snippet: blk -> tab #}
    <div class="container">
        {% block main %}{% endblock %}
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; 2019 - BStorm
            </div>
        </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        const elems = document.querySelectorAll('.sidenav');
        const instances = M.Sidenav.init(elems);
        {% for message in flashBag.getFlashes('success') %}
        M.toast({
            html: `<div><h5>Success</h5><p>{{ message }}</p></div>`,
            classes: 'toast toast-success'
        });
        {% endfor %}
        {% for message in flashBag.getFlashes('error') %}
        M.toast({
            html: `<div><h5>Error</h5><p>{{ message }}</p></div>`,
            classes: 'toast-error'
        });

        {% endfor %}
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>