{% extends "base.html.twig" %}

{% block title %}
    Product - Add Or Edit
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.css">
    <link rel="stylesheet" href="{{ assets("css/product/add-edit.css") }}">
{% endblock %}

{% block main %}
    <div class="row">
        <a href="{{ path("index","product") }}" class="btn">Back to index</a>
    </div>
    <form action="#" method="post">
        <div class="input-field">
            <label for="name">Nom de l'article</label>
            <input id="name"
                   type="text"
                   name="name"
                   value="{{ product.name }}"
                   required>
            <span class="helper-text">{{ errors.name }}</span>
        </div>
        <div class="input-field">
            <textarea id="description"
                      class="materialize-textarea"
                      name="description">{{ product.description }}</textarea>
            <label for="description">Description</label>
            <span class="helper-text">{{ errors.description }}</span>
        </div>
        <div class="input-field">
            <label for="price">Prix</label>
            <input id="price"
                   type="text"
                   name="price"
                   value="{{ product.price }}"
                   required>
            <span class="helper-text">{{ errors.price }}</span>
        </div>
        <div class="input-field">
            <label for="discount">Promotion</label>
            <input id="discount"
                   type="number"
                   name="discount"
                   value="{{ product.discount }}">
            <span class="helper-text">{{ errors.discount }}</span>
        </div>
        <div class="input-field file-field ">
            <div class="btn">
                <span>File</span>
                <input type="file" id="file" name="file">
                <input type="hidden" name="image" value="{{ product.image }}">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
            <span class="helper-text">{{ errors.image }}</span>
        </div>
        <div class="input-field row">
            <div class="col s12 l6">
                <div id="cropper">
                </div>
            </div>
            <div id="crop-result" class="col s12 l6">
                {% if product.image == null %}
                    <img src="{{ assets('images/default.png') }}">
                {% else %}
                    <img src="{{ product.image }}">
                {% endif %}
            </div>
        </div>
        <input class="btn" type="submit" name="submit">
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.js"></script>
    <script>
        const fileInput = document.getElementById("file");
        const imgInput = document.querySelector("input[name=image]");
        const cropperContainer = document.getElementById("cropper");
        const cropResult = document.querySelector("#crop-result>img");

        let croppie = new Croppie(cropperContainer, {
            url: "{{ product.image == null ? assets('images/default.png') : product.image }}",
            viewport: { width: 250, height: 250 },
            boundary: { width: 300, height: 300 },
            showZoomer: true,
            enableOrientation: true,
            enableExif: true
        });
        croppie.bind({
            zoom: 0
        });

        cropperContainer.addEventListener('update', function() {
            croppie.result('base64').then(function(blob) {
                cropResult.setAttribute("src", blob);
                imgInput.value = blob;
            });
        });

        fileInput.addEventListener("change", function() {
            let reader = new FileReader();
            reader.onload = function() {
                croppie.bind({
                    url: this.result,
                    zoom: 0
                });
            };
            reader.readAsDataURL(this.files[0]);
        });
    </script>
{% endblock %}


