{% extends "base.html.twig" %}
{% block title %}
    Product - {{ product.name }}
{% endblock %}

{% block main %}
    <div class="row">
        <a href="{{ path('index', 'product') }}"
           class="btn">Back to index</a>
    </div>
    <h1>{{ product.name }}</h1>
{% endblock %}
