{% extends "base.html.twig" %}

{% block title %}
    Product - Index
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ assets('css/product/index.css') }}">
{% endblock %}


{% block main %}
    <div class="row">
        <a href="{{ path('add', 'product') }}" class="btn btn-large"><i class="material-icons">fiber_new</i></a>
    </div>
    <div class="row">
        {% for item in products %}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ item.image }}">
                    </div>
                    <div class="card-content" style="position: relative">
                        <h2 class="card-title teal-text">{{ item.name }}</h2>
                        <div class="fixed-action-btn" style="position: absolute; top: -28px">
                            <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
                            <ul>
                                <li><a class="btn-floating red delete-button"
                                       href="{{ path('delete', 'product', { 'id': item.id }) }}"><i class="material-icons">delete</i></a></li>
                                <li><a class="btn-floating yellow"
                                       href="{{ path('edit', 'product', { 'id': item.id }) }}"><i class="material-icons">edit</i></a></li>
                                <li><a class="btn-floating green"
                                       href="{{ path('details', 'product', { 'id': item.id }) }}"><i class="material-icons">search</i></a></li>
                            </ul>
                        </div>
                        <p>{{ item.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <!-- Modal Structure -->
    <div id="confirm-modal" class="modal">
        <div class="modal-content">
            <h4>Confirmation</h4>
            <p>Are you sure you want to delete this item ?</p>
        </div>
        <div class="modal-footer">
            <button class="btn light-blue modal-close">no</button>
            <a id="confirm-delete" class="btn red white-text modal-close">yes</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const fixedButtons = document.querySelectorAll('.fixed-action-btn');
            M.FloatingActionButton.init(fixedButtons, {
                direction: 'left'
            });
            const confirmModal = document.getElementById("confirm-modal");
            const confirmModalInstance = M.Modal.init(confirmModal);
            const confirmDeleteButton = document.getElementById("confirm-delete");
            const deleteButtons = document.getElementsByClassName("delete-button");
            for (let item of deleteButtons) {
                item.addEventListener("click", function (e) {
                    e.preventDefault();
                    confirmDeleteButton.setAttribute("href", this.getAttribute("href"));
                    confirmModalInstance.open();
                });
            };
        });
    </script>
{% endblock %}


