header {
    text-align: center;
}

.barre {
    text-decoration: line-through;
}
.red {
    color: red;
}

footer {
    text-align: center;
}

.input-field .helper-text{
    color: red;
}

.container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.toast div{
    width: 300px;
    text-align: center;
}

.toast-error {
    background-color: lightcoral;
}

.toast-success {
    background-color: teal;
    width: 300px;
}