<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twig Demo - Filters</title>
</head>
<body>
    <h1>Quelques "Filters" sur les chaines de caractères</h1>
    <p>En majuscule: {{ chaine | upper }}</p>
    <p>En minuscule: {{ chaine | lower }}</p>
    <p>En titleCase: {{ chaine | title }}</p>
    {# les chaines sont automatiquement échappées #}
    {% set chaine2 = '<a href="/vers/site/inconnu">lien</a>' %}
    <p>Lien vers site inconnu: {{ chaine2 }}</p>
    <p>Chaine non échappées: {{ chaine2 | raw }}</p>
    
    <h1>Quelques "Filters" sur les dates</h1>
    <p>Epoch (date): {{ date | date('Y-m-d') }}</p>
    <p>Epoch (date + heure): {{ date | date('d/m/Y H:i:s') }}</p>
    <p>Maintenant: {{ 'now' | date('d/m/Y H:i:s') }}</p>

    <h1>Quelques "Filters" sur les nombres</h1>
    <p>Arrondir: {{ nombre | round(2) }}</p>
    <p>Example suivant: <a href="{{ path('loops') }}">Boucles</a></p>
</body>
</html>