{# on hérite de base.html.twig #}
{# snippet: ext -> tab #}
{% extends "base.html.twig" %}

{# on écrase les blocks que l'on souhaite remplacer #}
{% block title %}
    Héritage
{% endblock %}

{% block main %}
    <p>Contenu de la page enfant</p>
{% endblock %}