<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twig Demo - Home</title>
</head>
<body>
    {# commentaires dans twig ctrl + / (si plugin TWIG pack installé sur vs code) #}
    {# mon commentaire #}
    
    {# afficher une variable {{ }} #}
    <p>Hello {{ nomDeLaVariableDansTwig }}</p>

    {# executer du code {% %} #}
    
    {# snipptet: set -> tab #}
    {% set variable = 1 %}

    {# snippet: if -> tab #}
    {% if variable == 1 %}
        <p>il y a une minute</p>
    {# snippet: elif -> tab #}
    {% elseif variable < 10 %}
        <p>il y a {{ variable }} minutes</p>
    {# snippets else -> tab #}
    {% else %}
        <p>il y a très longtemps</p>
    {% endif %}

    <p>Example suivant: <a href="{{ path('filters') }}">Filters</a></p>
</body>
</html>