<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twig Demo - Loops</title>
</head>
<body>
    <p>Nombres d'éléments: {{ liste | length }} éléments</p>
    <p>Affichage:</p>
    <ul>
        {# boucles #}
        {# snippet: for -> tab #}
        {% for row in liste %}
            <li>{{ row }}</li>
        {% endfor %}
    </ul>
    <p>Inversion</p>
    <ul>
        {% for row in liste | reverse %}
            <li>{{row}}</li>
        {% endfor %}    
    </ul>
    <p>Variables locales des boucles</p>
    {# loop.index: index à partir de 1 #}
    {# loop.index0: index à partir de 0 #}
    {# loop.first: vrai si première itération #}
    {# loop.last: vrai si dernière itération #}
    <p>
    {% for row in liste %}
        <span class="{{ loop.index0 % 2 == 0 ? "rouge" : "vert" }}">{{ loop.index }}. {{ row }}{{ not loop.last ? ',' : '' }}</span>
    {% endfor %}
    </p>
    <style>.rouge { color: red; }.vert { color: green; }</style>
    <p>Example suivant: <a href="{{ path('model') }}">Model</a></p>
</body>
</html>