<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ assets("css/style.css") }}">
    <title>Twig Demo - Model</title>
</head>
<body>
{# @var product \TwigDemo\model\ProductController #}
    <!-- twig va chercher une variable publique qui s'appelle name|description|... 
        ou une méthode de l'objet qui s'appelle get{Name|Discount|...}() -->
    <p>Name: {{ product.name }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Prix: <span class="{{ product.discount ? 'barre' : '' }}">
        {{ product.price | round(2) }}€
    </span>
        {% if product.discount %}
            <span class="red">{{ product.discountPrice | round(2) }}€</span>
        {% endif %}
    </p>
    <p>Image: <img src="{{ assets(product.image) }}"></p>
    <p>Example suivant: <a href="{{ path("heritage") }}">Héritage</a></p>
</body>
</html>